<div class="form-group" >
  <label for="company-name" >Name</label>
  <input [(ngModel)]="company.name" class="form-control" id="company-name" >
</div>
<div class="form-group" >
  <label for="company-address" >Address</label>
  <input [(ngModel)]="company.address" class="form-control" id="company-address" >
</div>
<div class="form-group" >
  <label for="company-revenue" >Revenue</label>
  <input [(ngModel)]="company.revenue" class="form-control" id="company-revenue" >
</div>
<div class="form-group" >
  <label for="company-phone" >Phone Number</label>
  <input [(ngModel)]="company.phone" class="form-control" id="company-phone" >
</div>
